
<header class="header">
    <div class="ega-top-header hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div class="ega-item-top-bar">

                        <h1 class="h1-no-margin-padding">
                            <span style="display: none">EGA Bách Hóa</span>
                            <a href="https://ega-bach-hoa.mysapo.net/" title="EGA Bách Hóa">
                                <img alt="EGA Bách Hóa" src="~/static/image/logo.png"
                                     class="ega-logo">
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="ega-item-top-bar">

                        <form class="ega-form-search-top" role="search" method="get"
                              action="https://ega-bach-hoa.mysapo.net/search">
                            <div class="ega-div-top-search">
                                <input autocomplete="off" name="search" type="search"
                                       placeholder="Bạn muốn mua gì?" />
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <div class="ega-item-top-bar">
                        <div class="ega-top-message">

                            <span class="">
                                Nhóm 10:
                            </span>
                            <a class="ega-phone" href="tel:1900.0001">
                                0000000000
                            </a>
                            <span class="ega-fz-12 ega-header-top-item">
                                (
                                7:00 - 22:00
                                )
                            </span>

                            <span class="hidden-xs ega-header-top-item">


                                @Html.ActionLink("<span class=\"glyphicon glyphicon-user\"></span> Đăng ký / Đăng nhập", "Login", "Home", null, new { @class = "ega-a-account-header", style = "font-size: 12px" })



                            </span>


                            <span class="ega-header-top-item ega-top-cart-sendo">
                                <a class="ega-a-cart-icon-top" href="https://ega-bach-hoa.mysapo.net/cart"
                                   title="cart">
                                    <span class="glyphicon glyphicon-shopping-cart">

                                    </span>
                                    <span class="ega-a-cart-icon-top__number ega-header-top-item">0</span>
                                </a>
                            </span>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--menu-->
    <div>
        <div class="navbar yamm navbar-default ega-menu-top">
            <div class="container ega-container-header-sm">

                <div id="ega-menu-deiv-top" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin-bottom: 0;">

                        <!--submenu-->
                        <li class="dropdown yamm-fw ega-dropdown-menu li-ega-menu-no-mega">
                            <a href="https://ega-bach-hoa.mysapo.net/collections/all" title="Sản phẩm"
                               data-toggle="dropdown" class="dropdown-toggle hidden-xs hidden-sm"
                               aria-expanded="true">
                                Sản phẩm
                                <b class="caret hidden-xs"></b>
                            </a>
                            <div class="visible-ega-table-xs ega-menu-xs-drop-down">
                                <a href="https://ega-bach-hoa.mysapo.net/collections/all" title="Sản phẩm">
                                    Sản phẩm
                                </a>
                                <a href="javascript:void(0)" class="ega-menu-right-down-ico">
                                    <span class="">
                                        <span class="glyphicon glyphicon-menu-down"></span>
                                    </span>
                                </a>
                            </div>


                            <ul class="dropdown-menu ega-menu-no-mega ">

                                <!----------Danh sách các loại trong mục sản phẩm ----------->
                                <!----------------Dùng vòng for để lặp ở đây------------------>
                                <li class="dropdown-submenu-2">
                                    <a title="Sản phẩm dạng danh sách"
                                       href="#"
                                       class="ega-sub-menu-a">
                                        <div>
                                            Sản phẩm dạng danh sách
                                        </div>
                                    </a>
                                </li>

                            </ul>

                        </li>

                        <!--submenu-->
                        <li class="dropdown yamm-fw ega-dropdown-menu ">
                            <a href="https://ega-bach-hoa.mysapo.net/thuc-pham-do-uong" title="Thực phẩm"
                               data-toggle="dropdown" class="dropdown-toggle hidden-xs hidden-sm"
                               aria-expanded="true">
                                Thực phẩm
                                <b class="caret hidden-xs"></b>
                            </a>
                            <div class="visible-ega-table-xs ega-menu-xs-drop-down">
                                <a href="https://ega-bach-hoa.mysapo.net/thuc-pham-do-uong" title="Thực phẩm">
                                    Thực phẩm
                                </a>
                                <a href="javascript:void(0)" class="ega-menu-right-down-ico">
                                    <span class="">
                                        <span class="glyphicon glyphicon-menu-down"></span>
                                    </span>
                                </a>
                            </div>
                            <ul class="dropdown-menu  ">

                                <li>
                                    <div class="yamm-content">
                                        <div class="ega-menu-sub-container">

                                            <!----------Danh sách các loại trong mục thực phẩm ----------->
                                            <!----------------Dùng vòng for để lặp ở đây------------------>
                                            <div class="ega-collection-in-menu aaa">
                                                <a title="Bánh kẹo, ăn vặt"
                                                   href="https://ega-bach-hoa.mysapo.net/banh-keo-an-vat"
                                                   class="ega-sub-menu-a">
                                                    <img alt="Bánh kẹo, ăn vặt" class="img-responsive"
                                                         src="static/image/banh-keo-an-vat.webp">
                                                    <div>
                                                        Bánh kẹo, ăn vặt
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </li>

                        <!--submenu-->
                        <li class="dropdown yamm-fw ega-dropdown-menu li-ega-menu-no-mega">
                            <a href="https://ega-bach-hoa.mysapo.net/cham-soc-ca-nhan" title="Chăm sóc cá nhân"
                               data-toggle="dropdown" class="dropdown-toggle hidden-xs hidden-sm"
                               aria-expanded="true">
                                Chăm sóc cá nhân
                                <b class="caret hidden-xs"></b>
                            </a>
                            <div class="visible-ega-table-xs ega-menu-xs-drop-down">
                                <a href="https://ega-bach-hoa.mysapo.net/cham-soc-ca-nhan"
                                   title="Chăm sóc cá nhân">
                                    Chăm sóc cá nhân
                                </a>
                                <a href="javascript:void(0)" class="ega-menu-right-down-ico">
                                    <span class="">
                                        <span class="glyphicon glyphicon-menu-down"></span>
                                    </span>
                                </a>
                            </div>
                            <ul class="dropdown-menu ega-menu-no-mega ">


                                <!----------Danh sách các loại trong mục chăm sóc cá nhân ----------->
                                <!----------------Dùng vòng for để lặp ở đây------------------>
                                <li class="dropdown-submenu-2">
                                    <a title="Sữa rửa mặt" href="https://ega-bach-hoa.mysapo.net/sua-rua-mat"
                                       class="ega-sub-menu-a">
                                        <div>
                                            Sữa rửa mặt

                                        </div>

                                    </a>

                                </li>


                            </ul>
                        </li>

                        <!--submenu-->
                        <li class="dropdown yamm-fw ega-dropdown-menu li-ega-menu-no-mega">
                            <a href="https://ega-bach-hoa.mysapo.net/ve-sinh-nha-cua" title="Vệ sinh nhà cửa"
                               data-toggle="dropdown" class="dropdown-toggle hidden-xs hidden-sm"
                               aria-expanded="true">
                                Vệ sinh nhà cửa
                                <b class="caret hidden-xs"></b>
                            </a>
                            <div class="visible-ega-table-xs ega-menu-xs-drop-down">
                                <a href="https://ega-bach-hoa.mysapo.net/ve-sinh-nha-cua"
                                   title="Vệ sinh nhà cửa">
                                    Vệ sinh nhà cửa
                                </a>
                                <a href="javascript:void(0)" class="ega-menu-right-down-ico">
                                    <span class="">
                                        <span class="glyphicon glyphicon-menu-down"></span>
                                    </span>
                                </a>
                            </div>
                            <ul class="dropdown-menu ega-menu-no-mega ">

                                <!----------Danh sách các loại trong mục vệ sinh nhà cửa----------->
                                <!----------------Dùng vòng for để lặp ở đây------------------>
                                <li class="dropdown-submenu-2">
                                    <a title="Bột giặt" href="https://ega-bach-hoa.mysapo.net/bot-giat"
                                       class="ega-sub-menu-a">
                                        <div>
                                            Bột giặt
                                        </div>

                                    </a>
                                </li>

                            </ul>
                        </li>

                        <!--submenu-->
                        <li class="dropdown yamm-fw ega-dropdown-menu li-ega-menu-no-mega">
                            <a href="https://ega-bach-hoa.mysapo.net/do-dung-gia-dinh" title="Đồ dùng gia đình"
                               data-toggle="dropdown" class="dropdown-toggle hidden-xs hidden-sm"
                               aria-expanded="true">
                                Đồ dùng gia đình
                                <b class="caret hidden-xs"></b>
                            </a>
                            <div class="visible-ega-table-xs ega-menu-xs-drop-down">
                                <a href="https://ega-bach-hoa.mysapo.net/do-dung-gia-dinh"
                                   title="Đồ dùng gia đình">
                                    Đồ dùng gia đình
                                </a>
                                <a href="javascript:void(0)" class="ega-menu-right-down-ico">
                                    <span class="">
                                        <span class="glyphicon glyphicon-menu-down"></span>
                                    </span>
                                </a>
                            </div>
                            <ul class="dropdown-menu ega-menu-no-mega ">


                                <!----------Danh sách các loại trong mục đồ dùng gia đình----------->
                                <!----------------Dùng vòng for để lặp ở đây------------------>
                                <li class="dropdown-submenu-2">
                                    <a title="Đồ điện" href="https://ega-bach-hoa.mysapo.net/do-dien"
                                       class="ega-sub-menu-a">
                                        <div>
                                            Đồ điện
                                        </div>

                                    </a>
                                </li>

                            </ul>
                        </li>


                        <!--submenu-->
                        <li class="dropdown yamm-fw ega-dropdown-menu li-ega-menu-no-mega">
                            <a href="https://ega-bach-hoa.mysapo.net/san-pham-cho-be" title="Cho bé"
                               data-toggle="dropdown" class="dropdown-toggle hidden-xs hidden-sm"
                               aria-expanded="true">
                                Cho bé
                                <b class="caret hidden-xs"></b>
                            </a>
                            <div class="visible-ega-table-xs ega-menu-xs-drop-down">
                                <a href="https://ega-bach-hoa.mysapo.net/san-pham-cho-be" title="Cho bé">
                                    Cho bé
                                </a>
                                <a href="javascript:void(0)" class="ega-menu-right-down-ico">
                                    <span class="">
                                        <span class="glyphicon glyphicon-menu-down"></span>
                                    </span>
                                </a>
                            </div>
                            <ul class="dropdown-menu ega-menu-no-mega ega-menu-no-mega--right">


                                <!----------Danh sách các loại trong mục cho bé----------->
                                <!----------------Dùng vòng for để lặp ở đây------------------>
                                <li class="dropdown-submenu-2">
                                    <a title="Sữa cho bé" href="https://ega-bach-hoa.mysapo.net/sua-cho-be"
                                       class="ega-sub-menu-a">
                                        <div>
                                            Sữa cho bé
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </li>



                        <li>
                            <a title="Điện gia dụng" href="https://ega-bach-hoa.mysapo.net/">Điện gia dụng</a>
                            <!-----------tuỳ thiết kế thêm html ở mục này---------->
                        </li>


                        <!--submenu-->
                        <li class="dropdown yamm-fw ega-dropdown-menu li-ega-menu-no-mega">
                            <a href="https://ega-bach-hoa.mysapo.net/tin-tuc" title="Tin tức"
                               data-toggle="dropdown" class="dropdown-toggle hidden-xs hidden-sm"
                               aria-expanded="true">
                                Tin tức
                                <b class="caret hidden-xs"></b>
                            </a>
                            <div class="visible-ega-table-xs ega-menu-xs-drop-down">
                                <a href="https://ega-bach-hoa.mysapo.net/tin-tuc" title="Tin tức">
                                    Tin tức
                                </a>
                                <a href="javascript:void(0)" class="ega-menu-right-down-ico">
                                    <span class="">
                                        <span class="glyphicon glyphicon-menu-down"></span>
                                    </span>
                                </a>
                            </div>

                            <ul class="dropdown-menu ega-menu-no-mega ega-menu-no-mega--right">
                                <!--------------dùng vòng for duyệt qua đây-------------->
                                <li class="dropdown-submenu-2">
                                    <a title="Làm đẹp" href="https://ega-bach-hoa.mysapo.net/lam-dep"
                                       class="ega-sub-menu-a">
                                        <div>
                                            Làm đẹp
                                        </div>
                                    </a>
                                </li>

                            </ul>

                        </li>
                    </ul>

                    <ul class="nav navbar-nav visible-xs visible-sm" style="margin-top: 0; margin-bottom: 0;">
                        <li>
                            <a href="https://ega-bach-hoa.mysapo.net/account" title="account">
                                Đăng nhập/Đăng ký
                                
                            </a>
                            @Html.ActionLink(linkText: "Đăng nhập/Đăng ký", actionName: "Login", controllerName: "Home");
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

</header>
