
@{
    ViewBag.title = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/static/css/login.css" media="all"> 

<div class="alls">
    <div class="alls-form">
        <h4>ĐĂNG NHẬP TÀI KHOẢN</h4>

        <form class="form-main">
            <div class="form-item">
                <label>Tên đăng nhập: </label>
                <input name="username" type="text" placeholder="Nhập tên...">
            </div>

            <div class="form-item">
                <label>Mật khẩu: </label>
                <input name="password" type="password" placeholder="Nhập mật khâu..." />
            </div>

            <div class="form-btn">
                <button type="submit">Đăng nhập</button>
                @Html.ActionLink("Đăng ký", "Register", "Home", null, new { @class = "a-link"})
            </div>
            
            <div class="final-button">
                <h5>Hoặc đăng nhập bằng</h5>
                <div>
                    <a href="" class="btn btn-twitter tw"> <i class="fab fa-twitter"></i>   Đăng nhập bằng Twitter</a>
                    <a href="" class="btn  btn-facebook fb"> <i class="fab fa-facebook-f"></i>   Đăng nhập bằng facebook</a>
                </div>
            </div>
            
        </form>
    </div>
</div>