<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link href="~/Areas/Areas/assets/vendor/bootstrapv/cssv/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Areas/Areas/assets/vendor/fontsv/circular-std/stylestd.css">
    <link rel="stylesheet" href="~/Areas/Areas/assets/libs/csslib/stylelib.css">
    <link rel="stylesheet" href="~/Areas/Areas/assets/vendor/fontsv/fontawesome/csssome/fontawesome-all.css">
    <link rel="stylesheet" href="~/Areas/Areas/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/Areas/Areas/assets/vendor/fontsv/material-design-iconic-font/css-iconic/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Areas/Areas/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/Areas/Areas/assets/vendor/fontsv/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Areas/Areas/assets/vendor/charts/chartist-bundle/chartist.css">
    <title>Trang quản trị quản lý siêu thị</title>



</head>

<body>
    <div class="dashboard-main-wrapper">
        @RenderPage("~/Areas/Areas/Views/Shared/_HeaderAdmin.cshtml")
        @RenderPage("~/Areas/Areas/Views/Shared/NavBarAdmin.cshtml")
        @RenderBody()
    </div>




        <script src="~/Areas/Areas/assets/vendor/jqueryv/jquery-3.3.1.min.js"></script>


        <script src="~/Areas/Areas/assets/vendor/bootstrapv/jsv/bootstrapbundle.js"></script>

        <script src="~/Areas/Areas/assets/vendor/slimscroll/jquery.slimscroll.js"></script>

        <script src="~/Areas/Areas/assets/libs/jslib/main-js.js"></script>

        <script src="~/Areas/Areas/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
        <script src="~/Areas/Areas/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
        <script src="~/Areas/Areas/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
        <script src="~/Areas/Areas/assets/vendor/charts/morris-bundle/morris.js"></script>
        <script src="~/Areas/Areas/assets/vendor/charts/c3charts/c3.min.js"></script>
        <script src="~/Areas/Areas/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
        <script src="~/Areas/Areas/assets/vendor/charts/c3charts/C3chartjs.js"></script>
        <script src="~/Areas/Areas/assets/libs/jslib/dashboard-ecommerce.js"></script>




</body>
</html>
